# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfplan
tfplan
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc

# Java/Maven
target/
*.class
*.jar
*.war
*.ear
*.log
.settings/
.project
.classpath
.idea/
*.iml
.vscode/
