apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: my-app-daemonset
  labels:
    app: my-app-daemon
spec:
  selector:
    matchLabels:
      app: my-app-daemon
  template:
    metadata:
      labels:
        app: my-app-daemon
    spec:
      tolerations:
        - key: node-role.kubernetes.io/control-plane
          operator: Exists
          effect: NoSchedule
        - key: node-role.kubernetes.io/master
          operator: Exists
          effect: NoSchedule
      containers:
        - name: my-app-daemon
          image: nginx:latest
          ports:
            - containerPort: 80
              hostPort: 8080
          resources:
            requests:
              cpu: "50m"
              memory: "64Mi"
            limits:
              cpu: "200m"
              memory: "128Mi"
